body{
  background-color: #282c34;
}

.App {
  text-align: center;
}

h1{
  font-size: 3rem;
  color: #09d3ac;
}

.task{
  cursor: pointer;
  width: 100%;
}

p{
  color: #9c1e76;  
  font-size: 1.5rem;
}

.task.completed{
  text-decoration: line-through;
}

.todo-form{
  padding: 5%;
}
/* .App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */
